@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
}
.fullProject{
    max-width: 1200px;
    margin: 0 auto;
}
.navBar{
    display: flex;
    justify-content: space-around;
}
.navList{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    list-style: none;
    text-decoration: none;
}
.navList a{
    text-decoration: none;
}